/build/
/build-*/
/out/
/dist/
/cmake-build-*/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/CTestTestfile.cmake
/Testing/
/Makefile
/install_manifest.txt
/bin/
/lib/

/.codex
/.gitignore

**/.git
**/.gitmodules
**/.gitignore

*.o
*.obj
*.so
*.a
*.dll
*.dylib
*.exe
*.pdb

.DS_Store
Thumbs.db

editor/workspace/imgui.ini
samples/sample_project/resources/**/*.import

vendor/miniaudio/*
!vendor/miniaudio/LICENSE
!vendor/miniaudio/README.md
!vendor/miniaudio/miniaudio.h

vendor/zep/*
!vendor/zep/LICENSE
!vendor/zep/README.md
!vendor/zep/cmake/
!vendor/zep/include/
!vendor/zep/src/
vendor/zep/cmake/*
!vendor/zep/cmake/config_app.h.cmake
vendor/zep/src/tests/
vendor/zep/src/imgui.ini
